<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>7z</string>
				<string>7Z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>7-Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lha</string>
				<string>lzh</string>
				<string>LHA</string>
				<string>LZH</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>LhA Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sit</string>
				<string>sitx</string>
				<string>SIT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>StuffIt Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hqx</string>
				<string>HQX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>BinHex File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bin</string>
				<string>macbin</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>MacBinary File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gz</string>
				<string>gzip</string>
				<string>GZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Gzip File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tgz</string>
				<string>tar-gz</string>
				<string>TGZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Gzip Tar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bz2</string>
				<string>bzip2</string>
				<string>bz</string>
				<string>BZ2</string>
				<string>BZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Bzip2 File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tbz2</string>
				<string>tbz</string>
				<string>TBZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Bzip2 Tar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xz</string>
				<string>XZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>XZ File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>txz</string>
				<string>TXZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>XZ Tar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tar</string>
				<string>TAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Tar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gtar</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>GNU Tar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z</string>
				<string>Z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Unix Compress File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>taz</string>
				<string>tar-z</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Unix Compress Tar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lzma</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>LZMA File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xar</string>
				<string>XAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>XAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ace</string>
				<string>ACE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>ACE Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>arj</string>
				<string>ARJ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>ARJ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>arc</string>
				<string>ARC</string>
				<string>pak</string>
				<string>PAK</string>
				<string>spk</string>
				<string>SPK</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>ARC Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zoo</string>
				<string>ZOO</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>ZOO Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lbr</string>
				<string>LBR</string>
				<string>lqr</string>
				<string>LQR</string>
				<string>lzr</string>
				<string>LZR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>LBR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cab</string>
				<string>CAB</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>CAB Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rpm</string>
				<string>RPM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Linux RPM Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>alz</string>
				<string>ALZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>ALZip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dd</string>
				<string>DD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>DiskDoubler Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpt</string>
				<string>CPT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Compact Pro Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pit</string>
				<string>PIT</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>PackIt Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>now</string>
				<string>NOW</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Now Compress Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sea</string>
				<string>SEA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Self-Extracting Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>exe</string>
				<string>EXE</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Windows Self-Extracting Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpio</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>CPIO Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cpgz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Gzip CPIO Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pax</string>
				<string>PAX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Pax Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ha</string>
				<string>HA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>HA Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adf</string>
				<string>ADF</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga Disk File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>adz</string>
				<string>ADZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Compressed Amiga Disk File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dms</string>
				<string>DMS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga DMS Disk Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>f</string>
				<string>F</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga LhF Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>lzx</string>
				<string>LZX</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga LZX Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dcs</string>
				<string>DCS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga DCS Disk Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pkd</string>
				<string>PKD</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga PackDev Disk Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>xms</string>
				<string>XMS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga xMash Disk Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zom</string>
				<string>ZOM</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga Zoom Disk Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pp</string>
				<string>PP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Amiga PowerPacker File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nsa</string>
				<string>NSA</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>NSA Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sar</string>
				<string>SAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>SAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
				<string>005</string>
				<string>006</string>
				<string>007</string>
				<string>008</string>
				<string>009</string>
				<string>010</string>
				<string>011</string>
				<string>012</string>
				<string>013</string>
				<string>014</string>
				<string>015</string>
				<string>016</string>
				<string>017</string>
				<string>018</string>
				<string>019</string>
				<string>020</string>
				<string>021</string>
				<string>022</string>
				<string>023</string>
				<string>024</string>
				<string>025</string>
				<string>026</string>
				<string>027</string>
				<string>028</string>
				<string>029</string>
				<string>030</string>
				<string>031</string>
				<string>032</string>
				<string>033</string>
				<string>034</string>
				<string>035</string>
				<string>036</string>
				<string>037</string>
				<string>038</string>
				<string>039</string>
				<string>040</string>
				<string>041</string>
				<string>042</string>
				<string>043</string>
				<string>044</string>
				<string>045</string>
				<string>046</string>
				<string>047</string>
				<string>048</string>
				<string>049</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Split File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jar</string>
				<string>JAR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Java Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
				<string>CBZ</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Comic Book Zip Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
				<string>CBR</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Comic Book Rar Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>nds</string>
				<string>NDS</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_alt</string>
			<key>CFBundleTypeName</key>
			<string>Nintendo DS ROM file</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cvbdl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_cvbdl</string>
			<key>CFBundleTypeName</key>
			<string>ComicViewer Comic</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CHcd</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>bmp</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_bmp</string>
			<key>CFBundleTypeName</key>
			<string>BMP Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tiff</string>
				<string>tif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_tiff</string>
			<key>CFBundleTypeName</key>
			<string>TIFF Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>png</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_png</string>
			<key>CFBundleTypeName</key>
			<string>PNG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gif</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_gif</string>
			<key>CFBundleTypeName</key>
			<string>GIF Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>jpg</string>
				<string>jpeg</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_jpeg</string>
			<key>CFBundleTypeName</key>
			<string>JPEG Image</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>pdf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_pdf</string>
			<key>CFBundleTypeName</key>
			<string>PDF Document</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_cbz</string>
			<key>CFBundleTypeName</key>
			<string>CBZ Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cbr</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_cbr</string>
			<key>CFBundleTypeName</key>
			<string>CBR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zip</string>
				<string>ZIP</string>
				<string>z01</string>
				<string>Z01</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_zip</string>
			<key>CFBundleTypeName</key>
			<string>ZIP Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>rar</string>
				<string>RAR</string>
				<string>r00</string>
				<string>r01</string>
				<string>r02</string>
				<string>r03</string>
				<string>r04</string>
				<string>r05</string>
				<string>r06</string>
				<string>r07</string>
				<string>r08</string>
				<string>r09</string>
				<string>r10</string>
				<string>r11</string>
				<string>r12</string>
				<string>r13</string>
				<string>r14</string>
				<string>r15</string>
				<string>r16</string>
				<string>r17</string>
				<string>r18</string>
				<string>r19</string>
				<string>r20</string>
				<string>r21</string>
				<string>r22</string>
				<string>r23</string>
				<string>r24</string>
				<string>r25</string>
				<string>r26</string>
				<string>r27</string>
				<string>r28</string>
				<string>r29</string>
				<string>r30</string>
				<string>r31</string>
				<string>r32</string>
				<string>r33</string>
				<string>r34</string>
				<string>r35</string>
				<string>r36</string>
				<string>r37</string>
				<string>r38</string>
				<string>r39</string>
				<string>r40</string>
				<string>r41</string>
				<string>r42</string>
				<string>r43</string>
				<string>r44</string>
				<string>r45</string>
				<string>r46</string>
				<string>r47</string>
				<string>r48</string>
				<string>r49</string>
				<string>r50</string>
				<string>r51</string>
				<string>r52</string>
				<string>r53</string>
				<string>r54</string>
				<string>r55</string>
				<string>r56</string>
				<string>r57</string>
				<string>r58</string>
				<string>r59</string>
				<string>r60</string>
				<string>r61</string>
				<string>r62</string>
				<string>r63</string>
				<string>r64</string>
				<string>r65</string>
				<string>r66</string>
				<string>r67</string>
				<string>r68</string>
				<string>r69</string>
				<string>r70</string>
				<string>r71</string>
				<string>r72</string>
				<string>r73</string>
				<string>r74</string>
				<string>r75</string>
				<string>r76</string>
				<string>r77</string>
				<string>r78</string>
				<string>r79</string>
				<string>r80</string>
				<string>r81</string>
				<string>r82</string>
				<string>r83</string>
				<string>r84</string>
				<string>r85</string>
				<string>r86</string>
				<string>r87</string>
				<string>r88</string>
				<string>r89</string>
				<string>r90</string>
				<string>r91</string>
				<string>r92</string>
				<string>r93</string>
				<string>r94</string>
				<string>r95</string>
				<string>r96</string>
				<string>r97</string>
				<string>r98</string>
				<string>r99</string>
				<string>R00</string>
				<string>R01</string>
				<string>R02</string>
				<string>R03</string>
				<string>R04</string>
				<string>R05</string>
				<string>R06</string>
				<string>R07</string>
				<string>R08</string>
				<string>R09</string>
				<string>R10</string>
				<string>R11</string>
				<string>R12</string>
				<string>R13</string>
				<string>R14</string>
				<string>R15</string>
				<string>R16</string>
				<string>R17</string>
				<string>R18</string>
				<string>R19</string>
				<string>R20</string>
				<string>R21</string>
				<string>R22</string>
				<string>R23</string>
				<string>R24</string>
				<string>R25</string>
				<string>R26</string>
				<string>R27</string>
				<string>R28</string>
				<string>R29</string>
				<string>R30</string>
				<string>R31</string>
				<string>R32</string>
				<string>R33</string>
				<string>R34</string>
				<string>R35</string>
				<string>R36</string>
				<string>R37</string>
				<string>R38</string>
				<string>R39</string>
				<string>R40</string>
				<string>R41</string>
				<string>R42</string>
				<string>R43</string>
				<string>R44</string>
				<string>R45</string>
				<string>R46</string>
				<string>R47</string>
				<string>R48</string>
				<string>R49</string>
				<string>R50</string>
				<string>R51</string>
				<string>R52</string>
				<string>R53</string>
				<string>R54</string>
				<string>R55</string>
				<string>R56</string>
				<string>R57</string>
				<string>R58</string>
				<string>R59</string>
				<string>R60</string>
				<string>R61</string>
				<string>R62</string>
				<string>R63</string>
				<string>R64</string>
				<string>R65</string>
				<string>R66</string>
				<string>R67</string>
				<string>R68</string>
				<string>R69</string>
				<string>R70</string>
				<string>R71</string>
				<string>R72</string>
				<string>R73</string>
				<string>R74</string>
				<string>R75</string>
				<string>R76</string>
				<string>R77</string>
				<string>R78</string>
				<string>R79</string>
				<string>R80</string>
				<string>R81</string>
				<string>R82</string>
				<string>R83</string>
				<string>R84</string>
				<string>R85</string>
				<string>R86</string>
				<string>R87</string>
				<string>R88</string>
				<string>R89</string>
				<string>R90</string>
				<string>R91</string>
				<string>R92</string>
				<string>R93</string>
				<string>R94</string>
				<string>R95</string>
				<string>R96</string>
				<string>R97</string>
				<string>R98</string>
				<string>R99</string>
				<string>000</string>
				<string>001</string>
				<string>002</string>
				<string>003</string>
				<string>004</string>
				<string>005</string>
				<string>006</string>
				<string>007</string>
				<string>008</string>
				<string>009</string>
				<string>010</string>
				<string>011</string>
				<string>012</string>
				<string>013</string>
				<string>014</string>
				<string>015</string>
				<string>016</string>
				<string>017</string>
				<string>018</string>
				<string>019</string>
				<string>020</string>
				<string>021</string>
				<string>022</string>
				<string>023</string>
				<string>024</string>
				<string>025</string>
				<string>026</string>
				<string>027</string>
				<string>028</string>
				<string>029</string>
				<string>030</string>
				<string>031</string>
				<string>032</string>
				<string>033</string>
				<string>034</string>
				<string>035</string>
				<string>036</string>
				<string>037</string>
				<string>038</string>
				<string>039</string>
				<string>040</string>
				<string>041</string>
				<string>042</string>
				<string>043</string>
				<string>044</string>
				<string>045</string>
				<string>046</string>
				<string>047</string>
				<string>048</string>
				<string>049</string>
				<string>050</string>
				<string>051</string>
				<string>052</string>
				<string>053</string>
				<string>054</string>
				<string>055</string>
				<string>056</string>
				<string>057</string>
				<string>058</string>
				<string>059</string>
				<string>060</string>
				<string>061</string>
				<string>062</string>
				<string>063</string>
				<string>064</string>
				<string>065</string>
				<string>066</string>
				<string>067</string>
				<string>068</string>
				<string>069</string>
				<string>070</string>
				<string>071</string>
				<string>072</string>
				<string>073</string>
				<string>074</string>
				<string>075</string>
				<string>076</string>
				<string>077</string>
				<string>078</string>
				<string>079</string>
				<string>080</string>
				<string>081</string>
				<string>082</string>
				<string>083</string>
				<string>084</string>
				<string>085</string>
				<string>086</string>
				<string>087</string>
				<string>088</string>
				<string>089</string>
				<string>090</string>
				<string>091</string>
				<string>092</string>
				<string>093</string>
				<string>094</string>
				<string>095</string>
				<string>096</string>
				<string>097</string>
				<string>098</string>
				<string>099</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>coo_rar</string>
			<key>CFBundleTypeName</key>
			<string>RAR Archive</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>savedSearch</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>SavedSearch</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>directory</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>cooViewer</string>
	<key>CFBundleIconFile</key>
	<string>icon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>COvw</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
